<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'soccer/style.css' %}">

  <title>Soccer App | Create Player</title>
</head>
<body>
  <div class="page">
    <header>
      <div class="title">
          <h1 class="title-text">Soccer App</h1>
      </div>
      <nav>
          <a class="links-nav" href="{% url 'soccer:players' %}">Players</a>
          <a class="links-nav" href="{% url 'soccer:create-player' %}">Add Player</a>
          <a class="links-nav" href="{% url 'soccer:teams' %}">Teams</a>
          <a class="links-nav" href="{% url 'soccer:create-team' %}">Add Team</a>
          <a class="links-nav" href="{% url 'soccer:matches' %}">Matches</a>
          <a class="links-nav" href="{% url 'soccer:create-match' %}">Add Match</a>
      </nav>
    </header>
    <main>
      {% block content %}
        <form action="" method="post">
          {% csrf_token %}
          <div>
          {{ form.as_p }}
          </div>
          <input type="submit" value="Submit" />
        </form>
      {% endblock %}
    </main>
  </div>
</body>
</html>