<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer App</title>
</head>
<body>
    <header>
        <a href="{% url 'soccer:index' %}">Player</a>
        <a href="{% url 'soccer:teams' %}">Teams</a>
        <a href="{% url 'soccer:matches' %}">Matches</a>
    </header>
    <main>
        {% if player_list %}
        <ul>
            {% for player in player_list %}
            <li>{{ player }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No teams available</p>
        {% endif %}
    </main>
</body>
</html>