<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer App | Matches</title>
</head>
<body>
    <main>
        {% if match_list %}
            <div>
                {% for match in match_list %}
                <p>
                    {% for m in match.teams.all %}
                        {{ m }}
                    {% endfor %}
                </p>
                <div>
                    <p>
                        {{ match.points_1 }}
                    </p>
                    <p>
                        {{ match.points_2 }}
                    </p>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No match available</p>
        {% endif %}
    </main>
</body>
</html>