<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'soccer/style.css' %}">

    <title>Soccer App | Matches</title>
</head>
<body>
    <div class="page">
        <header>
            <a class="links-nav" href="{% url 'soccer:players' %}">Player</a>
            <a class="links-nav" href="{% url 'soccer:create-player' %}">Add Player</a>
            <a class="links-nav" href="{% url 'soccer:teams' %}">Teams</a>
            <a class="links-nav" href="{% url 'soccer:create-team' %}">Add Team</a>
            <a class="links-nav" href="{% url 'soccer:matches' %}">Matches</a>
            <a class="links-nav" href="{% url 'soccer:create-match' %}">Add Match</a>
        </header>
        <main>
            {% if match_list %}
                <div>
                    {% for match in match_list %}
                    <p>
                        {% for m in match.teams.all %}
                            {{ m }}
                        {% endfor %}
                    </p>
                    <div>
                        <p>
                            {{ match.points_1 }}
                        </p>
                        <p>
                            {{ match.points_2 }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No match available</p>
            {% endif %}
        </main>
    </div>
</body>
</html>